version: "3.9"

services
  postgres:
    image: postgres:15
    container_name: netbox_postgres
    restart: always
    environment:
      POSTGRES_DB: netbox
      POSTGRES_USER: netbox
      POSTGRES_PASSWORD: Passw0rd
    volumes:
     - netbox_postgres:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    container_name: netbox_redis
    restart: always
    command: ["redis-server", "--appendonly", "no"]
    volumes:
     - netbox_redis:/data
  redis-cache:
    image: redis:7-alpine
    container_name: netbox_redis_cache
    restart: always
    command: ["redis-server", "--appendonli", "no"]
  netbox:
    image: netboxcommunity/netbox:latest
    container_name: netbox
    depends_on:
     - postgres
     - redis
     - redis-cache
    env_file:
     - ./env/netbox.env
    ports:
     - "8001:8080"
     volumes:
     - netbox_media:/opt/netbox/netbox/media
     - netbox_reports:/etc/netbox/reports
     - netbox_scripts:/etc/netbox/scripts
    restart: always
volumes:
      netbox_postgres:
      netbox_redis:
      netbox_media:
      netbox_reports:
      netbox_scripts:
